body {
	background-image: url(https://github.com/maxfaneuff/TriviaGame/blob/master/assets/images/cheap_diagonal_fabric.png?raw=true);
}

#question-screen, #answer-screen, #results-screen, #start-screen {
	height: 600px;
	text-align: center;
	border-style: solid;
	border-color: blue;
	border-width: 5px;

	background-color: white;
	position: relative;
}

#title {
	font-family: 'Black Ops One', cursive;
	width: 700px;
	text-align: center;
	font-size: 25px;
	position: relative;
	left: 415px;



}

#welcome {
	font-size: 40px;
	font-family: 'Black Ops One', cursive;

}

#begin {
	font-family: 'Black Ops One', cursive;
	top: 400px;
	left: 630px;
	width: 250px;
	height: 100px;
/*	background-color: blue;
*/	;

}
.text {
	font-size: 40px;
	position: absolute;
	top: 200px;
	left: 550px;
}

#timer {
	font-family: 'Black Ops One', cursive;
	

}

#question {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 35px;
	position: relative;
	top: 250px;
	left: 0px;
}

#win-lose {
	font-family: 'Black Ops One', cursive;
	font-size: 45px;
	position: absolute;
	top: 100px;
	left: 550px;
	width: 400px;
}

#gif {
	display: block;
	margin-top: 250px;

}

#end-gif {
	position: absolute;
	top: 250px;
	left: 500px;
}

.options {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	height: 50px;
	width: 400px;
	text-align: center;
	position: relative;
	top: 275px;
	left: 550px;
	margin: 0px;

	
}


#results {
	font-family: 'Black Ops One', cursive;
	text-align: center;
	font-size: 55px;
	margin-top: 10px;
}



#correct-num, #incorrect-num, #unanswered-num, #replay, #begin {
	font-size: 35px;
/*	text-align: center;
*/	position: absolute;

}


#correct-num {
	font-family: 'Oswald', sans-serif;
	top: 90px;
	left: 650px;
	text-align: center;

}

#incorrect-num {
	font-family: 'Oswald', sans-serif;
	top: 140px;
	left: 640px;

}

#unanswered-num {
	font-family: 'Oswald', sans-serif;
	top: 190px;
	left: 620px;

}

#replay {
	font-family: 'Black Ops One', cursive;
	left: 1100px;
	top: 300px;
	width: 100px;
}

.options div:hover {
	width: 200px;
	height:25px;
	background-color: blue;
	border-width: 1px;
	border-style: solid;
	border-color: silver;
}